@import '../framework.scss';

.btn{
	display: block;
	padding: .4em 1em;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	text-align: center;
	transition: background-color .2s ease-in;
}
.btn.round{
	border-radius: 7px;
}

.btn.btn-orange{
	background-color: $color_orange;
}
.btn.btn-blue{
	background-color: $color_blue;
}
.btn.btn-bluegray{
	background-color: $color_bluegray;
}

.btn:hover{
	background-color: $color_orange;
}
.btn.btn-orange:hover{
	background-color: lighten($color_orange, 12%);
}
