@import '../framework.scss';

#cards{
	.row{
		@media screen and (min-width: $screen_md){
			display: flex;
		}
	}
	
	.fa{
		color: #000;
	}

	h2{
		font-weight: normal;
		color: $color_darker_text;
	}

	div[class*="panel-"]{
		padding-bottom: 1em;
	}
}
