@import '../framework.scss';

$owl_before_after: 2em;

#branding{
	background-size: cover;
	background-position: center;
	min-height: 30vh;
	padding-top: $header_height + $owl_before_after;
	position: relative;

	*{
		z-index: 1;
	}

	&::after{
		@extend %pseudo-block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
	}
}

#branding .owl-theme{
	margin-bottom: $owl_before_after;
	color: #fff;
	text-align: center;
	font-size: 1.2em;

	.owl-stage{
		display: flex;
		align-items: center;

		em{
			display: block;
			font-size: 1.2em;
			font-weight: bold;
			font-style: normal;

			.quote{
				position: absolute;
			}
		}
		.quote{
			display: inline;
			font-size: 1.3em;
		}
	}
}

#header{
	.slide{
		width: 80%;
		margin: 0 auto;
		padding: 5em 0;
	}
	.btn-group{
		width: 80%;
		margin: 0 auto;
	}
	.btn-group .btn{
		margin-bottom: 1em;
		width: 100%;
	}
}
@media screen and (min-width: $screen_lg){//{{{
#header{
	#branding{
		height: 100vh;
		padding-top: $header_height + ($owl_before_after*2);
	}
	#branding.small{
		height: 40vh;
	}
	.btn-group{
		$width: 19em;
		position: absolute;
		top: 47%;
		left: calc(77% - (#{$width})/2);
		width: $width;

		.btn{
			font-size: 1.2em;
		}
	}
}
#branding .owl-theme{
	.owl-stage{
		margin-bottom: 2em;

		.item{
			padding: 0 10em;
		}
		em{
			display: inline;

			.quote{
				position: relative;
			}
		}
	}
}
}// }}}
