@import 'variables.scss';

html *{
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: $color_text;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.person{
	display: inline-block;
}
.clear{
	clear: both;
}
