$screen_sm: 645px;
$screen_md: 750px;
$screen_lg: 995px;

$color_orange: #f58634;
$color_bluegray: #4b7082;
$color_blue: #1aa5ba;

$color_darker_text: #222;
$color_text: #333;
$color_white_text: #fff;

//
// Header
//
$header_height: 4em;
